{% extends "/frontoffice/base.html.twig" %}

{% block content %}

    <section class="container" aria-label="container">

        <article class="containerId" aria-label="id">
            <img src="/images/id.jpg" alt='id' class="id">
            <h2 class="nameHome text-black">Eric Saou</h2>
        </article>
        <hr/>
        <article class="containerCitation" aria-label="citation">
            <h5 class="citation text-black"><i class="far fa-lightbulb" style="margin-right: 7px"></i> Eric Saou, en temps et en heure !</h5>
            <a href="/docs/cv.pdf" target="_blank" class="cv">Découvrez mon cv à jour</a>
        </article>
        <hr/>
        <article class="containerContact" id="contact" aria-label="contact">
            <h5 class="citation text-black pb-4"><i class="far fa-envelope" style="margin-right: 7px"></i> Formulaire de contact</h5>
            <form class="formContact" action="/#contact" method="POST">
                <input type="hidden" name="token" id="token" value="{{ token }}"/>
                <div class="form-group col-6">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="form-control" {% if formData.firstname %}value="{{ formData.firstname }}"{% endif %} name="firstname" id="firstname">
                </div>
                <div class="form-group col-6">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" {% if formData.lastname %}value="{{ formData.lastname }}"{% endif %} name="lastname" id="lastname">
                </div>
                <div class="form-group col-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" {% if formData.email %}value="{{ formData.email }}"{% endif %} name="email" id="email">
                </div>
                <div class="form-group col-12">
                    <label for="content">Message</label>
                    <textarea style="min-height: 250px;" class="form-control" name="content" id="content">{% if formData.content %}{{ formData.content }}{% endif %}</textarea>
                </div>
                <div class="form-group col-12">
                    <input type="checkbox" required name="rgpd" id="rgpd"><span style="margin-left: 20px;">J'accepte que mes informations soient conservées à des fins de contact.</span>
                </div>
                    <button type="submit" id="submitContact" class="mt-3 subtitle">Envoyer</button>
            </form>
            <div class="pt-4 danger" id="error">
            </div>
        </article>
        <hr/>
        <article class="containerSocial" aria-label="social">
            <a href="https://fr.linkedin.com/in/eric-saou-a58542196" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Esaou" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://gitlab.com/Esaou" target="_blank"><i class="fab fa-gitlab"></i></a>
        </article>

    </section>

{% endblock %}
