{% extends "/frontoffice/base.html.twig" %}

{% block title %}Tous les posts{% endblock %}

{% block content %}

    <section class="container p-4 pt-3">

        <h4 class="text-center mb-4 text-black">Tous les posts</h4>
        <div class="containerPosts">
        {% for post in posts %}
            <div class="containerCard p-3 col-6">
                <div class="card bg-light mb-3">
                    <div class="card-header titleCard text-blue">{{ post.title }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ post.chapo|raw }}</p>
                        <div class="blocBtnUpdate">
                            <div>
                                <a class="subtitle" style="margin: 0px;" href="post/{{ post.id_post}}">Lire le post</a>
                            </div>
                            <div>
                                {% if post.updatedAt is not null %}
                                    Modifié le {{ post.updatedAt|date('d/m/Y') }} à {{ post.updatedAt|date('H') }}h{{ post.updatedAt|date('i') }}
                                {% else %}
                                    Créé le {{ post.createdAt|date('d/m/Y') }} à {{ post.createdAt|date('H') }}h{{ post.createdAt|date('i') }}
                                {% endif %}                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <p class="text-black paginator text-center" style='font-size:18px;margin-bottom:30px;margin-top:30px;'>
            {{ paginator|raw }}
        </p>
    </section>

{% endblock %}
