{% extends "/frontoffice/base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %} 
    <article class="container mb-4">
        <h4 class="text-center text-black mb-4">{{ post.title }}</h4>
        <p>{{ post.content }}</p>
    </article>

    <section class="container mb-4">
        <h4 class="text-center text-black mb-4">Commentaires</h4>
        {% if comments %}
            {% for comment in comments %}
                <p>id =  {{ comment.id }}<br>
                text = {{ comment.content }}</p>
            {% endfor %}
        {% else %}
            <h4>Aucun commentaires</h4>
        {% endif %}
    </section>
{% endblock %}
