{% extends "/frontoffice/base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <article class="container p-4 pt-3">
        <h4 class="text-left text-black mb-4">{{ post.title }}</h4>
        <hr>
        <div class="pt-4">{{ post.chapo|raw }}</div>
        <div class="pb-4 pt-4">{{ post.content|raw }}</div>
        <hr>
        <div class="blocBtnUpdate" style="margin-top: 10px;">
            <div>
                {% if previousPost is not null %}
                    <a href="/post/{{ previousPost }}" class="subtitle" style="margin: 0px;margin-right: 7px;">Post précédent</a>
                    {% else %}
                    <button type="button" disabled class="subtitle" style="margin: 0px;margin-right: 7px;color: rgb(120,120,120);">Post précédent</button>
                {% endif%}
                {% if nextPost is not null %}
                    <a href="/post/{{ nextPost }}" class="subtitle" style="margin: 0px;margin-right: 7px;">Post suivant</a>
                {% else %}
                    <button type="button" disabled class="subtitle" style="margin: 0px;margin-right: 7px;color: rgb(120,120,120);">Post suivant</button>
                {% endif%}
            </div>
            <div>
                {% if post.user.email is not null %}
                        Publié par <span class="text-blue">{{ post.user.firstname }} {{ post.user.lastname }}</span>
                    {% else %}
                        Publié par <span class="text-blue">Utilisateur anonyme</span>
                {% endif %}
                - {% if post.updatedAt is not null %}
                Modifié le {{ post.updatedAt|date('d/m/Y') }} à {{ post.updatedAt|date('H',"Europe/Paris") }}h{{ post.updatedAt|date('i',"Europe/Paris") }}
                {% else %}
                    Créé le {{ post.createdAt|date('d/m/Y') }} à {{ post.createdAt|date('H',"Europe/Paris") }}h{{ post.createdAt|date('i',"Europe/Paris") }}
                {% endif %}
            </div>
        </div>
    </article>

    <section class="container p-4" id="comments">
        <h4 class="text-left text-black mb-4">Commentaires {% if session.user is not defined %}<small style="font-size: 17px;font-weight: normal;">(connectez-vous pour laisser un commentaire)</small>{% endif %}</h4>
        <hr>
        {% if session.user %}
        <form class="formComment mb-3" action="/post/{{ post.slugPost }}#comments" method="POST">
            <input type="hidden" name="token" id="token" value="{{ token }}"/>
            <div class="form-group col-12">
                <label for="comment">Mon commentaire</label>
                <textarea style="min-height: 200px;" class="form-control" name="comment" id="comment"></textarea>
            </div>
            <div class="submitComment w-100 m-0 pt-3">
                <button type="submit" class="subtitle m-0">Envoyer</button>
            </div>
        </form>
        {% endif %}
        {% if comments %}
            {% for comment in comments %}
                <div class="blocShowOneComment mb-3 pt-4">
                    <div class="pb-3 text-blue">
                        {% if comment.user.email is not null %}
                            {{ comment.user.firstname }} {{ comment.user.lastname }}
                        {% else %}
                            Utilisateur anonyme
                        {% endif %}
                    </div>
                    <div class="pb-3">{{ comment.comment }}</div>
                    <div class="w-100 blocBtnCreated">
                            <i class="far fa-check-circle" style="margin-right: 10px"></i>
                        <div>Posté le {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H',"Europe/Paris") }}h{{ comment.createdAt|date('i',"Europe/Paris") }}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5 class="text-black text-center p-4 pb-4">Aucun commentaires</h5>
        {% endif %}

        <p class="text-black paginator text-center" style='font-size:18px;margin-bottom:30px;margin-top:30px;'>
            {{ paginator|raw }}
        </p>

    </section>
{% endblock %}
