{% extends "/backoffice/base.html.twig" %}

{% block content %}

    <section class="container-fluid">

        <div class="w-100 blocBtnAdmin">
            <h5 class="text-black">Liste des commentaires</h5>
        </div>

        <hr>

        <div class="table-responsive-lg">
            <table class="table table-striped text-nowrap" style="font-size: 14px;max-width: 100%;">
                <thead class="text-nowrap">
                <th>Contenu</th>
                <th>Utilisateur</th>
                <th>Post</th>
                <th>Date de création</th>
                <th>Validité</th>
                <th class="text-end">Actions</th>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td class="align-middle">{{ comment.comment|striptags|slice(0, 20) }} {% if comment.comment|length > 20 %}...{% endif %}</td>
                        <td class="align-middle text-nowrap">{{ comment.user.firstname }} {{ comment.user.lastname }}</td>
                        <td class="align-middle text-nowrap">{{ comment.post_id.title|slice(0,20) }} {% if comment.post_id.title|length > 20 %}...{% endif %}</td>
                        <td class="align-middle">{{ comment.createdAt|date('d/m/Y') }}</td>
                        <td class="align-middle">{{ comment.isChecked }}</td>
                        <td class="text-end text-nowrap align-middle">
                            {% if comment.isChecked == 'Non' %}
                                <a href="index.php?action=comments&validate&id={{ comment.id }}" class="btn btn-sm btn-success updateBtn"><i class="fas fa-check-circle" style="margin-right: 5px"></i> Valider</a>
                            {% else %}
                                <a href="index.php?action=comments&unvalidate&id={{ comment.id }}" class="btn btn-sm btn-secondary updateBtn"><i class="far fa-times-circle" style="margin-right: 5px"></i> Invalider</a>
                            {% endif %}
                            <button type="button" data-toggle="modal" data-target="#deleteModal{{ comment.id|raw }}" class="btn btn-sm btn-danger updateBtn"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>

                    <div class="modal fade" id="deleteModal{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-black" id="exampleModalLabel" style="font-size: 18px;"><i class="fas fa-exclamation-circle" style="margin-right: 5px;"></i> Confirmation</h5>
                                </div>
                                <div class="modal-body" style="font-size: 16px;">
                                    <p class="text-black">Confirmez le suppression du commentaire de :</p>
                                    <p class="text-blue" style="font-weight: bold;">{{ comment.user.firstname }} {{ comment.user.lastname }}</p>
                                    <p class="text-dark">{{ comment.comment|striptags|slice(0, 20) }} {% if comment.comment|length > 20 %}...{% endif %}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                                    <a href="index.php?action=comments&delete&id={{ comment.id }}" class="btn btn-sm btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-black paginator text-center" style='font-size:18px;margin-bottom:30px;margin-top:30px;'>
            {{ paginator|raw }}
        </p>
    </section>

{% endblock %}