{% extends "/backoffice/base.html.twig" %}

{% block content %}

    <section class="container-fluid">

        <div class="w-100 blocBtnAdmin">
            <h5 class="text-black">Liste des posts</h5>
            <a href="/admin/add/post" class="btn btn-sm btn-success"><i class="fas fa-plus-square" style="margin-right: 5px"></i> Ajouter un post</a>
        </div>

        <hr>

        <div class="table-responsive-lg">
            <table class="table table-striped" style="font-size: 14px;max-width: 100%;">
                <thead class="text-nowrap">
                <th>Titre</th>
                <th>Chapo</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Utilisateur</th>
                <th class="text-end">Actions</th>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="align-middle text-nowrap">{{ post.title|slice(0,20) }} {% if post.title|length > 20 %}...{% endif %}</td>
                        <td class="align-middle text-nowrap">{{ post.chapo|striptags|slice(0, 20)  }} {% if post.chapo|length > 20 %}...{% endif %}</td>
                        <td class="align-middle text-nowrap">{{ post.content|striptags|slice(0, 20) }} {% if post.content|length > 20 %}...{% endif %}</td>
                        <td class="align-middle">{{ post.createdAt|date('d/m/Y') }}</td>
                        <td class="align-middle">{{ post.updatedAt|date('d/m/Y') }}</td>
                        <td class="align-middle">{% if post.user.email is null %}Utilisateur anonyme{% else %}{{ post.user.firstname }} {{ post.user.lastname }}{% endif %}</td>
                        <td class="text-end text-nowrap align-middle">
                            <a href="/admin/edit/post/{{ post.slugPost }}" class="btn btn-sm btn-primary updateBtn"><i class="fas fa-pen-square" style="margin-right: 5px;"></i> Modifier</a>
                            <button type="button" data-toggle="modal" data-target="#deleteModal{{ post.id_post }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>

                    <div class="modal fade" id="deleteModal{{ post.id_post }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-black" id="exampleModalLabel" style="font-size: 18px;"><i class="fas fa-exclamation-circle" style="margin-right: 5px;"></i> Confirmation</h5>
                                </div>
                                <div class="modal-body" style="font-size: 16px;">
                                    <p class="text-black">Confirmez le suppression du post :</p>
                                    <p class="text-blue" style="font-weight: bold;">{{ post.title|slice(0,50) }}</p>
                                    <p class="text-black">{{ post.content|striptags|slice(0, 20) }} {% if post.content|length > 20 %}...{% endif %}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                                    <form action="/admin/delete/post/{{ post.id_post }}" method="POST">
                                        <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-black paginator text-center" style='font-size:18px;margin-bottom:30px;margin-top:30px;'>
            {{ paginator|raw }}
        </p>
    </section>

{% endblock %}

