{% extends "/backoffice/base.html.twig" %}

{% block content %}

    <section class="container-fluid">

        <div class="w-100 blocBtnAdmin">
            <h5 class="text-black">Liste des posts</h5>
            <a href="" class="btn btn-success">Nouveau post</a>
        </div>

        <hr>

        <div class="table-responsive-lg">
            <table class="table table-striped text-nowrap" style="font-size: 14px;max-width: 100%;">
                <thead>
                <th>Titre</th>
                <th>Chapo</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Utilisateur</th>
                <th class="text-center">Actions</th>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="align-middle">{{ post.title }}</td>
                        <td class="align-middle">{{ post.chapo|slice(0,20) }} ...</td>
                        <td class="align-middle">{{ post.content|slice(0,20) }} ...</td>
                        <td class="align-middle">{{ post.createdAt|date('d/m/Y') }}</td>
                        <td class="align-middle">{{ post.updatedAt|date('d/m/Y') }}</td>
                        <td class="align-middle">{{ post.user.firstname }} {{ post.user.lastname }}</td>
                        <td class="text-center">
                            <a href="" class="btn btn-sm btn-primary updateBtn"><i class="fas fa-pen-square" style="margin-right: 5px;"></i> Modifier</a>
                            <button type="button" data-toggle="modal" data-target="#deleteModal{{ post.id|raw }}" class="btn btn-sm btn-danger updateBtn"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-black paginator text-center" style='font-size:18px;margin-bottom:30px;margin-top:30px;'>
            {% if pagesTotales > 0 and pagesTotales != 1 %}
                {% for i in 1.. pagesTotales %}
                    {% if i == 1 and pageCourante >= 4 %}
                        <a href='index.php?action=postsAdmin&page={{ i }}' style='margin:5px;text-decoration:none;'>{{ i }}</a>
                    {% endif %}
                    {% if i == 1 and pageCourante >= 5 %}
                        <span style='margin: 5px;font-size:17px;'>-</span>
                    {% endif %}
                    {% if (pageCourante - 3) < i and i < (pageCourante + 3) %}
                        {% if i == pageCourante %}
                            <span class="text-blue" style='margin:5px;'>{{ i }}</span>
                        {% else %}
                            <a href='index.php?action=postsAdmin&page={{ i }}' style='margin:5px;text-decoration:none;'>{{ i }}</a>
                        {% endif %}
                    {% endif %}
                    {% if i == pagesTotales and pageCourante < (pagesTotales - 3) %}
                        <span style='margin:5px;'>-</span>
                    {% endif %}
                    {% if i == pagesTotales and pageCourante <= (pagesTotales - 3) %}
                        <a href='index.php?action=postsAdmin&page={{ i }}' style='margin:5px;text-decoration:none;'>{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </section>

{% endblock %}
{#
<div class="modal fade" id="deleteModal{{ professionnel.id|raw }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 15px;"><i class="fas fa-exclamation-circle" style="margin-right: 5px;"></i> Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 14px;">
                Confirmez le suppression de {{ professionnel.prenom }} {{ professionnel.nom }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="{{ path('delete_professionnel_independant',{'id':professionnel.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div> #}
