{% extends "/backoffice/base.html.twig" %}

{% block content %}

    <section class="container-fluid">

        <div class="w-100 blocBtnAdmin">
            <h5 class="text-black">Liste des utilisateurs</h5>
        </div>

        <hr>

        <div class="table-responsive-lg">
            <table class="table table-striped text-nowrap" style="font-size: 14px;max-width: 100%;">
                <thead>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Validité</th>
                <th class="text-end">Actions</th>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="align-middle">{{ user.firstname }}</td>
                        <td class="align-middle">{{ user.lastname }}</td>
                        <td class="align-middle">{{ user.email|slice(0,20) }} {% if user.email|length > 20 %}...{% endif %}</td>
                        <td class="align-middle">{{ user.role}}</td>
                        <td class="align-middle">{{ user.isValid }}</td>
                        <td class="text-end">
                            <a href="index.php?action=editUser&id={{ user.id_utilisateur }}" class="btn btn-sm btn-primary updateBtn"><i class="fas fa-pen-square" style="margin-right: 5px;"></i> Modifier</a>
                            <button type="button" data-toggle="modal" data-target="#deleteModal{{ user.id_utilisateur }}" class="btn btn-sm btn-danger updateBtn"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>

                    <div class="modal fade" id="deleteModal{{ user.id_utilisateur }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-black" id="exampleModalLabel" style="font-size: 18px;"><i class="fas fa-exclamation-circle" style="margin-right: 5px;"></i> Confirmation</h5>
                                </div>
                                <div class="modal-body" style="font-size: 16px;">
                                    <p class="text-black">Confirmez le suppression de l'utilisateur :</p>
                                    <p class="text-blue p-2" style="font-weight: bold;">{{ user.firstname }} {{ user.lastname }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                                    <a href="index.php?action=users&delete&id={{ user.id_utilisateur }}" class="btn btn-sm btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-black paginator text-center" style='font-size:18px;margin-bottom:30px;margin-top:30px;'>
            {{ paginator|raw }}
        </p>
    </section>

{% endblock %}
{#
<div class="modal fade" id="deleteModal{{ professionnel.id|raw }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 15px;"><i class="fas fa-exclamation-circle" style="margin-right: 5px;"></i> Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 14px;">
                Confirmez le suppression de {{ professionnel.prenom }} {{ professionnel.nom }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="{{ path('delete_professionnel_independant',{'id':professionnel.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div> #}