{% extends "/backoffice/base.html.twig" %}

{% block content %}

    <section class="container-fluid">

        <div class="w-100 blocBtnAdmin">
            <h5 class="text-black">Mon compte utilisateur</h5>
        </div>

        <hr>

        {% if session.user %}
            <form action="/admin/account/{{ session.user.slugUser }}" class="formAccount" method="POST">
                <input type="hidden" name="token" id="token" value="{{ token }}"/>
                <input type="hidden" name="id_utilisateur" value="{{ session.user.id_utilisateur }}">
                <div class="form-group col-6">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="form-control" value="{% if formData is not empty %}{{ formData.firstname }}{% else %}{{ session.user.firstname }}{% endif %}" name="firstname" id="firstname">
                </div>
                <div class="form-group col-6">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" value="{% if formData is not empty %}{{ formData.lastname }}{% else %}{{ session.user.lastname }}{% endif %}" name="lastname" id="lastname">
                </div>
                <div class="form-group col-12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" value="{% if formData is not empty %}{{ formData.email }}{% else %}{{ session.user.email }}{% endif %}" name="email" id="email">
                </div>
                <div class="form-group col-12">
                    <label for="password">Mot de passe
                    </label>
                    <input type="password" class="form-control mb-2" name="password" id="password">
                    <small>Votre mot de passe doit contenir au moins 1 chiffre, une lettre minuscule, majuscule, un caractère spécial et 8 caractères minimum !</small>
                </div>
                <div class="form-group col-12">
                    <label for="passwordConfirm">Confirmez votre mot de passe</label>
                    <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm">
                </div>
                <div class="w-100 text-left pt-4 pb-4">
                    <button type="submit" id="submitAccount" class="btan btn-sm btn-success"><i class="far fa-save" style="margin-right: 5px"></i> Sauvegarder mes changements</button>
                </div>
                <div class="pt-0 pb-4 mb-3 danger" id="error">
                </div>
            </form>
        {% endif %}

    </section>

{% endblock %}